@font-face {
  font-family: "iconfont"; /* Project id 4984663 */
  src: url('iconfont.woff2?t=1768221168676') format('woff2'),
       url('iconfont.woff?t=1768221168676') format('woff'),
       url('iconfont.ttf?t=1768221168676') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hicode-logo:before {
  content: "\e886";
}

.icon-hicode:before {
  content: "\e648";
}

.icon-xian-buguize-shendusikao:before {
  content: "\e6f9";
}

.icon-xian-ju-tupian:before {
  content: "\e6fa";
}

.icon-xian-buguize-zhihangminglinghang:before {
  content: "\e6ef";
}

.icon-xian-buguize-duibi:before {
  content: "\e6f0";
}

.icon-xian-buguize-bianji:before {
  content: "\e6f1";
}

.icon-xian-buguize-zhihangshibai:before {
  content: "\e6f2";
}

.icon-xian-buguize-xieruwenjian:before {
  content: "\e6f3";
}

.icon-xian-buguize-dui:before {
  content: "\e6f4";
}

.icon-xian-buguize-shuangjiantoushang:before {
  content: "\e6f5";
}

.icon-xian-ju-chakanwenjian:before {
  content: "\e6f6";
}

.icon-xian-buguize-guanbi:before {
  content: "\e6f7";
}

.icon-xian-buguize-shuangjiantouxia:before {
  content: "\e6f8";
}

.icon-xian-buguize-zhihangchenggong:before {
  content: "\e6ee";
}

.icon-xian-buguize-xiazai:before {
  content: "\e6ed";
}

.icon-xian-yuan-shibai:before {
  content: "\e6c9";
}

.icon-xian-yuan-jianshao:before {
  content: "\e6eb";
}

.icon-xian-yuan-zengjia:before {
  content: "\e6ec";
}

.icon-xian-buguize-suoxiao:before {
  content: "\e6e7";
}

.icon-xian-buguize-jiedian:before {
  content: "\e6e8";
}

.icon-xian-buguize-fangda:before {
  content: "\e6e9";
}

.icon-xian-buguize-zhongxinbuju:before {
  content: "\e6ea";
}

.icon-xian-buguize-tuichuquanping:before {
  content: "\e6e4";
}

.icon-xian-buguize-zidongzhihang:before {
  content: "\e6e3";
}

.icon-quan-jia:before {
  content: "\e778";
}

.icon-xian-buguize-quanping:before {
  content: "\e6de";
}

.icon-zhongshi:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e738";
}

.icon-wenhaofill:before {
  content: "\e72c";
}

.icon-kong:before {
  content: "\e60c";
}

.icon-jieshou:before {
  content: "\e7d2";
}

.icon-fang-zuo:before {
  content: "\e72f";
}

.icon-fang-you:before {
  content: "\e730";
}

.icon-huizujian:before {
  content: "\e640";
}

.icon-tupian:before {
  content: "\e662";
}

.icon-xiangxia:before {
  content: "\e7b5";
}

.icon-xiangshang:before {
  content: "\e7b8";
}

.icon-jujue:before {
  content: "\e7b6";
}

.icon-APIjiekou:before {
  content: "\e7b3";
}

.icon-biaoziyuan:before {
  content: "\e7b4";
}

.icon-xinjian:before {
  content: "\e60d";
}

.icon-jiahao:before {
  content: "\e7a3";
}

.icon-wenjian:before {
  content: "\e7a4";
}

.icon-gitfenzhi:before {
  content: "\e7a7";
}

.icon-xiangyou1:before {
  content: "\e7a8";
}

.icon-daimapianduan:before {
  content: "\e7a9";
}

.icon-wenjianjia:before {
  content: "\e7aa";
}

.icon-a-:before {
  content: "\e7ab";
}

.icon-wendang:before {
  content: "\e7a5";
}

.icon-gongzuokongjian:before {
  content: "\e7a6";
}

.icon-piping-fill:before {
  content: "\e737";
}

.icon-zancheng-fill:before {
  content: "\e736";
}

.icon-fankui:before {
  content: "\e79e";
}

.icon-zancheng:before {
  content: "\e723";
}

.icon-piping:before {
  content: "\e721";
}

.icon-bijiao:before {
  content: "\e6db";
}

.icon-icon-circle-close:before {
  content: "\e601";
}

.icon-info:before {
  content: "\e65a";
}

.icon-success:before {
  content: "\e72d";
}

.icon-error:before {
  content: "\e651";
}

.icon-warning:before {
  content: "\e681";
}

.icon-icon_close:before {
  content: "\e65b";
}

.icon-shangjiantou:before {
  content: "\e6bf";
}

.icon-xiajiantou:before {
  content: "\e6c0";
}

.icon-zhongzhi:before {
  content: "\e780";
}

.icon-kuangxiangyou:before {
  content: "\e77a";
}

.icon-xiangyou:before {
  content: "\e77d";
}

.icon-kuangxiangzuo:before {
  content: "\e77e";
}

.icon-xiangzuo:before {
  content: "\e77f";
}

.icon-zanting:before {
  content: "\e77b";
}

.icon-shanchu:before {
  content: "\e77c";
}

.icon-shouqi3:before {
  content: "\e712";
}

.icon-zhankai:before {
  content: "\e6b0";
}

.icon-moxing:before {
  content: "\e749";
}

.icon-charu:before {
  content: "\e745";
}

.icon-fuzhi:before {
  content: "\e73f";
}

.icon-moban:before {
  content: "\e740";
}

.icon-yonghu:before {
  content: "\e741";
}

.icon-tingzhi:before {
  content: "\e743";
}

.icon-gou:before {
  content: "\e744";
}

.icon-fasong:before {
  content: "\e746";
}

.icon-guanbi:before {
  content: "\e73c";
}

.icon-zhongxin:before {
  content: "\e73e";
}

.icon-stop:before {
  content: "\e885";
}

.icon-light-code-logo:before {
  content: "\e7b7";
}

