// 全局 SCSS Mixins
@use 'sass:math';

// 文本溢出省略
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出省略
@mixin text-ellipsis-multiline($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Flex 布局居中
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Flex 布局垂直居中
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

// Flex 布局水平居中
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

// 清除浮动
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// 滚动条样式
@mixin scrollbar($width: 8px, $track-color: transparent, $thumb-color: rgba(255, 255, 255, 0.2)) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: math.div($width, 2);

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

// 响应式断点
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

// 禁用用户选择
@mixin user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// 过渡动画
@mixin transition($properties...) {
  transition: $properties;
}
